<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="body naruto.css">
</head>
<body >
<header>
    
    
    <section class="body">
    <section class="card-container">
        <div class="card-grid">

            <a href="./temp naruto.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/naruto/n22.png);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 1 </h3>
                </div>
            
            </a>

            <a href="./temp naruto2.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/naruto/ultimate-sharingun.jpg)"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 2 </h3>
                </div>
            
            </a>

            <a href="./temp naruto3.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/naruto/n20.jpeg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 3 </h3>
                </div>
            
            </a>

            <a href="./temp naruto4.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/naruto/n15.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 4 </h3>
                </div>
            
            </a>

        </div>
    </section>
</section>
    <script src="../card/card.js"></script>
</body>
</html>