<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="body dbz.css">
</head>
<body >
    
    <section class="body">
    <section class="card-container">
        <div class="card-grid">

            <a href="./temp dbz.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/dbz/d1.jpg);"></div>
                <div class="card-content" href="temp dbz.html">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 1 </h3>
                </div>
            
            </a>

            <a href="./temp dbz2.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/dbz/db2.jpeg)"></div>
                <div class="card-content" href="temp dbz2.html">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 2 </h3>
                </div>
           
            </a>

            <a href="./temp dbz3.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/dbz/db5.jpg);"></div>
                <div class="card-content" href="temp dbz3.html">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 3 </h3>
                </div>
           
            </a>

            <a href="./temp dbz4.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/dbz/db7.jpg);"></div>
                <div class="card-content" href="temp dbz4.html">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Episode 4 </h3>
                </div>
           
            </a>

        </div>
    </section>
</section>
    <script src="../card/card.js"></script>
</body>
</html>