<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Webpage</title>
    <link rel="stylesheet" href="example.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="./logo.png" alt="Logo">
            <span class="site-name">Anime Town</span>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Anime</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="auth-buttons">
            <a href="#" class="login-btn">Login</a>
            <a href="#" class="signup-btn">Sign Up</a>
        </div>
    </nav>
    <header class="animated-header">
        
    
        <div class="banner">
            <div class="slider" style=" --quantity: 10" >
                <!-- <div class="item" style="--position: 1">   <img src="../resources/images/3d/mid.jpeg" alt=""></div>
                <div class="item" style="--position: 2">   <img src="../resources/images/3d/d1.jpg"  alt=""></div>
                <div class="item" style="--position: 3">   <img src="../resources/images/3d/d2.png"  alt=""></div>
                <div class="item" style="--position: 4">   <img src="../resources/images/3d/d3.jpg"  alt=""></div>
                <div class="item" style="--position: 5">   <img src="../resources/images/3d/d4.jpeg"  alt=""></div>
                <div class="item" style="--position: 6">   <img src="../resources/images/3d/d5.png"  alt=""></div>
                <div class="item" style="--position: 7">   <img src="../resources/images/3d/d6.png"  alt=""></div>
                <div class="item" style="--position: 8">   <img src="../resources/images/3d/d7.jpg"  alt=""></div>
                <div class="item" style="--position: 9">   <img src="../resources/images/3d/d8.png"  alt=""></div>
                <div class="item" style="--position: 10">  <img src="../resources/images/3d/d9.png"  alt=""></div>
                 -->
            </div>
    </header>
    <section class="content">
    <section class="body">
        <section class="card-container">
            <div class="card-grid">
    
                <a href="./body dbz.html" class="card">
                    <div class="card-background"  style="background-image: url(../resources/images/dbz/db4.jpeg);"></div>
                    <div class="card-content" href="./body dbz.html">
                        <p class="card-catagory"> Anime Town </p>
                        <h3 class="card-heading"> Dragon Ball </h3>
                    </div>
                </a>
    
                <a href="./body naruto.html" class="card">
                    <div class="card-background" style="background-image: url(../resources/images/naruto/ultimate-sharingun.jpg)"></div>
                    <div class="card-content" href="./body naruto.html">
                        <p class="card-catagory"> Anime Town </p>
                        <h3 class="card-heading"> Naruto </h3>
                    </div>
                </a>
    
                <a href="./body jjk.html" class="card">
                    <div class="card-background" style="background-image: url(../resources/images/jjk/download/sukuna1.jpg);"></div>
                    <div class="card-content" href="body jjk.html">
                        <p class="card-catagory"> Anime Town </p>
                        <h3 class="card-heading"> Jujustsu kaisen </h3>
                    </div>
                </a>
    
                <a href="./body KK.html" class="card">
                    <div class="card-background" style="background-image: url(../resources/images/ken-kakuja/k8.jpg);"></div>
                    <div class="card-content" href="body KK.html">
                        <p class="card-catagory"> Anime Town </p>
                        <h3 class="card-heading">  Ken Kakuja </h3>
                    </div>
                </a>
    
            </div>
        </section>
    
    <section class="card-container">
        <div class="card-grid">
    
            <a href="0" class="card">
                <div class="card-background" style="background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/10767.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Dragon Ball </h3>
                </div>
            </a>
    
            <a href="0" class="card">
                <div class="card-background" style="background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/16578.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Naruto </h3>
                </div>
            </a>
    
            <a href="0" class="card">
                <div class="card-background" style="background-image: url(../resources/images/jjk/download/sukuna1.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Jujustsu kaisen </h3>
                </div>
            </a>
    
            <a href="0" class="card">
                <div class="card-background" style="background-image: url(../resources/images/ken-kakuja/k8.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading">  Ken Kakuja </h3>
                </div>
            </a>
    
        </div>
    </section>
    <section class="card-container">
        <div class="card-grid">
    
            <a href="0" class="card">
                <div class="card-background" style="background-image: url(../resources/images/dbz/db4.jpeg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Dragon Ball </h3>
                </div>
            </a>
    
            <a href="./body naruto.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/naruto/ultimate-sharingun.jpg)"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Naruto </h3>
                </div>
            </a>
    
            <a href="./body jjk.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/jjk/download/sukuna1.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading"> Jujustsu kaisen </h3>
                </div>
            </a>
    
            <a href="./body KK.html" class="card">
                <div class="card-background" style="background-image: url(../resources/images/ken-kakuja/k8.jpg);"></div>
                <div class="card-content">
                    <p class="card-catagory"> Anime Town </p>
                    <h3 class="card-heading">  Ken Kakuja </h3>
                </div>
            </a>
    
        </div>
    </section>
    </section>
    
    </section>
    <script src="example.js"></script>
</body>
</html>